/** ACCOMMODATION **/
/** Facilities **/
#dm-facilities {
    margin-bottom: 2.5rem;
}

#dm-facilities li {
    padding: .25rem;
    color: var(--gray-2);
    font-size: .875rem;
}

#dm-facilities li::before {
    content: "";
    display: inline-block;
    width: .5rem;
    height: .125rem;
    background-color: var(--green-1);
    margin-right: 5px;
    vertical-align: middle;
}

#dm-facilities p {
    color: var(--gray-2);
}

#dm-facilities p:first-of-type {
    margin-top: 1.25rem;
}

#dm-facilities p:not(:last-of-type) {
    margin-bottom: 1.25rem;
}

#dm-garden-view-room,
#dm-mountain-view-room {
    margin-bottom: 2.5rem;
}