/** ACCOMMODATION **/
/** Facilities **/
#dm-accommodation section:not(:last-of-type) {
    margin-bottom: 2.5rem;
}

#dm-accommodation p {
    color: var(--gray-2);
}

#dm-accommodation-facilities li {
    padding: .25rem;
    color: var(--gray-2);
    font-size: .875rem;
}

#dm-accommodation-facilities li::before {
    content: "";
    display: inline-block;
    width: .5rem;
    height: .125rem;
    background-color: var(--green-1);
    margin-right: 5px;
    vertical-align: middle;
}

#dm-accommodation-facilities p:first-of-type {
    margin-top: 1.25rem;
}

#dm-accommodation-facilities p:not(:last-of-type) {
    margin-bottom: 1rem;
}