/** FOOD **/
#dm-food section:not(:last-of-type) {
    margin-bottom: 2.5rem;
}

#dm-food p {
    color: var(--gray-2);
}

#dm-food li {
    color: var(--gray-2);
    font-size: .875rem;
}

#dm-food li:not(:last-of-type) {
    margin-bottom: .3125rem;
}

/** Special Dietary **/
#dm-food .dm-info-box {
    margin-top: 1.25rem;
}