body.paused {
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    touch-action: manipulation;
}

/** Bootstrap card **/
.card, .card-header {
    background-color: var(--white);
}

.card-header, .card-body {
    padding: 2.5rem;
}

.card-header {
    border-color: var(--green-1);
}

.card h2, .card h3 {
    line-height: 1.2;
}

.card h3 {
    margin-bottom: .625rem;
}