.dm-header {
    background-color: var(--white);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.dm-navbar .container-fluid {
    padding: 0 2.5rem;
}

.dm-logo {
    margin-right: 2rem;
}

.dm-header li:not(:last-of-type) {
    margin-right: 1.25rem;
}

.dm-header a {
    color: var(--gray-1);
    transition: .3s;
}

.dm-header a:hover, .dm-profile i:hover {
    color: var(--green-1);
    transition: .3s;
}

.dm-left-menu a {
    line-height: 52px;
    cursor: default;
    border-bottom: 3px solid var(--white);
}

.dm-left-menu a:hover {
    border-bottom: 3px solid var(--green-1);
}

.dm-currency, .dm-favorites {
    color: var(--green-1) !important;
}

.dm-currency {
    gap: .625rem;
}

.dm-profile {
    gap: .3125rem;
}

.dm-currency span, .dm-profile span {
    font-size: .875rem;
}

.dm-profile span {
    background-color: var(--blue-1);
    padding: .3125rem .625rem;
    color: var(--white);
}

.dm-profile i {
    color: var(--gray-3);
}

/* MOBILE */
#dm-btn-mobile {
    display: none;
}

@media screen and (max-width: 991px) {
    .dm-header {
        padding-top: .625rem;
        padding-bottom: .625rem;
    }

    .dm-navbar {
        padding-left: 0;
    }

    .dm-navbar .container-fluid {
        justify-content: flex-start;
        padding: 0 2.5rem 0 1.5rem;
    }

    .dm-right-menu li:first-child {
        display: none;
    }

    #dm-header-menu {
        display: block;
        position: absolute;
        padding: 0 2.5rem;
        width: 100%;
        height: 0;
        top: 3.5rem;
        right: 0;
        background-color: var(--green-2);
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
        transition: .3s ease-out;
    }

    #dm-header-menu.active {
        height: 100vh;
        visibility: visible;
        transition: .3s ease-in;
    }

    #dm-header-menu li {
        margin: 0 .5rem;
    }

    #dm-header-menu .dm-left-menu li a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
    }

    #dm-header-menu .dm-left-menu li a::after {
        content: "";
        display: flex;
        box-sizing: border-box;
        width: .675rem;
        height: .675rem;
        border-bottom: 2px solid;
        border-right: 2px solid;
        transform: rotate(45deg);
        left: 4px;
        top: 2px;
        color: var(--green-1);
    }

    #dm-btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        margin-right: 1.25rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #dm-icon-hamburger {
        width: 1.25rem;
        border-top: 2px solid;
        display: block;
        color: var(--gray-1);
        border-radius: 1px;
    }

    #dm-icon-hamburger::after, #dm-icon-hamburger::before {
        content: "";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background-color: currentColor;
        margin-top: 0.375rem;
        position: relative;
        border-radius: 4px;
        transition: .3s ease-in;
    }

    #dm-btn-mobile.active #dm-icon-hamburger {
        border-top-color: transparent;
    }

    #dm-btn-mobile.active #dm-icon-hamburger::before {
        transform: rotate(135deg);
        background-color: var(--green-1);
    }

    #dm-btn-mobile.active #dm-icon-hamburger::after {
        transform: rotate(-135deg);
        top: -.5rem;
        background-color: var(--green-1);
    }
}

@media screen and (max-width: 575px) {
    .dm-navbar .container-fluid {
        padding-left: .25rem;
        padding-right: 1.25rem;
    }

    #dm-header-menu {
        padding: 0 1rem;
    }
}