/** INTRODUCTION **/
/** Breadcrumb **/
.dm-breadcrumb {
    margin: 1.25rem auto;
}

.dm-breadcrumb .breadcrumb-item a {
    font-size: .875rem !important;
    color: var(--green-1);
    margin-right: 5px;
    transition: .3s;
}

.dm-breadcrumb .breadcrumb-item span {
    color: var(--gray-4);
    font-size: .875rem !important;
}

.dm-breadcrumb .breadcrumb-item a:hover {
    text-decoration: underline;
    transition: .3s;
}

.dm-breadcrumb .breadcrumb-item span {
    opacity: .5;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--green-1);
}

#dm-favorite-slide {
    max-width: 40rem;
    margin: 0 auto;
}

/** Favorite **/
#dm-add-favorite .dm-icon-heart {
    cursor: pointer;
    overflow: inherit;;
}

#dm-favorite-toast {
    background-color: var(--blue-1);
}

#dm-favorite-toast i,
#dm-favorite-toast p {
    color: var(--white);
}

/** Slide **/
#dm-slide, #dm-slide-elements {
    display: grid;
}

#dm-slide {
    position: relative;
}

#dm-slide-elements {
    grid-area: 1/1;
}

#dm-slide-elements > * {
    grid-area: 1/1;
    opacity: 0;
    visibility: hidden;
    border-radius: 6px;
}

#dm-slide-elements > .active {
    opacity: 1;
    visibility: visible;
}

#dm-slide-controls {
    grid-area: 1/1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

#dm-slide-controls button {
    opacity: 0;
    appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#dm-slide-thumb {
    display: flex;
    position: absolute;
    width: 100%;
    pointer-events: none;
}

#dm-slide-thumb > span {
    flex: 1;
    display: block;
    height: 4px;
    background-color: rgba(255, 255, 255, .2);
    margin: .3125rem;
    border-radius: 6px;
    overflow: hidden;
    isolation: isolate;
}

#dm-slide-thumb .ct-thumb-item.active {
    display: block;
    height: inherit;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 6px;
    transform: translateX(-100%);
    animation: thumb forwards linear running;
}

#dm-slide-thumb .ct-thumb-item.paused {
    animation-play-state: paused;
}

@keyframes thumb {
    to {
        transform: initial;
    }
}

.dm-interested-people {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .7) , rgba(255, 255, 255, .1));
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 6px 6px;
    color: var(--white);
    padding: .625rem;
    text-align: center;
}

/** Title **/
.dm-title {
    margin: 2.5rem 0;
}

.dm-title h1 {
    margin-bottom: .3125rem;
    line-height: 1.2;
}

.dm-title p {
    color: var(--gray-4);
}