/** RESET */
* {
    box-sizing: border-box;
}

body {
	margin: 0;
	font-family: var(--font);
	font-weight: 400;
    background-color: var(--gray-6);
}

h1,
h2,
h3,
h4,
button,
input,
select,
label,
a,
p,
option {
	margin: 0;
	font-family: var(--font) !important;
	line-height: 1.4;
	color: var(--gray-1);
}

input[type="radio"] {
	border-color: var(--gray-1);
}

input[type="radio"]:checked {
	background-color: var(--red);
	border-color: var(--red);
}

input[type="radio"]:focus {
	box-shadow: none;
}

img {
	display: block;
	max-width: 100%;
}

button,
input {
	display: block;
	font-size: 1rem;
}

a {
	font-size: 1rem !important;
    text-decoration: none;
}