/** REVIEWS **/
#dm-reviews {
    margin-bottom: 2.5rem;
}

#dm-reviews #dm-reviewer {
    margin-bottom: 2.5rem;
}

#dm-reviews #dm-reviews-date {
    font-size: .875rem;
    color: var(--gray-4);
}

#dm-reviews .dm-reviews-text {
    font-size: .875rem;
    color: var(--gray-3);
}

#dm-reviews .dm-reviews-positive {
    color: var(--green-1);
}

#dm-reviews .dm-reviews-negative {
    color: var(--gray-1);
}

#dm-reviews .dm-categories-rating {
    margin-top: 1.25rem;
}

#dm-reviews .dm-categories-rating tr {
    display: grid;
    grid-template-columns: 12.5rem 1fr;
    align-items: center;
}

#dm-reviews .dm-categories-rating td {
    font-size: .875rem;
    color: var(--gray-4);
}